<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Login Page</h1>
<hr>
<!--//action = "/login"-->
<form method="post">
    <div th:if="${error!=null}">
        <p th:text="${error}"></p>
    </div>
    <label for="username"></label>
    <input type="text" name="username" id="username">
    <br>
    <label for="password"></label>
    <input type="password" name="password" id="password">
    <br>
    <input type="submit" value="Login"/>
</form>
</body>
</html>